<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorAlumnos</servlet-name>
        <servlet-class>controladores.ControladorAlumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAlumnos</servlet-name>
        <servlet-class>controladores.SAlumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SIndex</servlet-name>
        <servlet-class>controladores.SIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>STipoactvs</servlet-name>
        <servlet-class>controladores.STipoactvs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SActividades</servlet-name>
        <servlet-class>controladores.SActividades</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorAlumnos</servlet-name>
        <url-pattern>/ControladorAlumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAlumnos</servlet-name>
        <url-pattern>/SAlumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SIndex</servlet-name>
        <url-pattern>/SIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>STipoactvs</servlet-name>
        <url-pattern>/STipoactvs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SActividades</servlet-name>
        <url-pattern>/SActividades</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
